body 
{
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-color: black;
    color: blue;
    font-family: 'Cascadia Code';
}
h1 
{
    color: rgb(255, 233, 127);
    font-style: italic;
    text-decoration-style: solid;
    font-size: 75px;
    text-align: center;
    position: relative;
    top: 35px;
}
.warning
{
    color: red;
}
a
{
    color: aqua;
}